.result-tile {
  grid-template-columns: 300px 1fr;
}

/* .result-tile__image {
  box-shadow: 0 0 0 0 transparent;
  transform: translate(0, 0);
  transition:
    box-shadow ease-in-out 0.125s,
    transform ease-in-out 0.125s;
}

@media (hover: hover) {
  .result-tile:hover .result-tile__image {
    box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.25);
    transform: translate(-20px, -20px);
  }
} */
