.query-form {
  grid-template-rows: 1fr;
  transition:
    grid-template-rows 0.5s cubic-bezier(0.45, 0, 0.55, 1),
    opacity 0.125s ease-in-out;
  opacity: 1;
}

.query-form[data-loading='true'] {
  grid-template-rows: 0fr;
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  .query-form {
    transition: none;
  }
}
