.button {
  background-color: var(--button-color-fill);
  border-color: var(--button-color-border);
  box-shadow: 0 0 0 0 transparent;
  color: var(--button-color-text);
}

.button[data-variant='primary'] {
  --button-color-fill: var(--color-transparent);
  --button-color-fill-hover: var(--color-black);
  --button-color-text: var(--color-black);
  --button-color-text-hover: var(--color-white);
  --button-color-border: var(--color-black);
  --button-color-border-hover: var(--color-black);
}

.button[data-variant='secondary'] {
  --button-color-fill: var(--color-black);
  --button-color-fill-hover: var(--color-white);
  --button-color-text: var(--color-white);
  --button-color-text-hover: var(--color-black);
  --button-color-border: var(--color-black);
  --button-color-border-hover: var(--color-black);
}

.button[data-size='default'] {
  height: 55px;
}

.button[data-size='large'] {
  height: 68px;
}

.button[data-size='large'] .icon {
  width: 40px;
  height: 40px;
}

@media (hover: hover) {
  .button:not(:disabled):hover {
    background-color: var(--button-color-fill-hover);
    border-color: var(--button-color-border-hover);
    color: var(--button-color-text-hover);
  }
}

.button:disabled {
  --button-color-fill: var(--color-gray-500);
  cursor: not-allowed;
}

.button__icon {
  align-items: center;
  display: inline-flex;
}

.button[data-icon-position='left'] .button__icon,
.button[data-icon-position='right'] .button__content {
  order: 1;
}

.button[data-icon-position='left'] .button__content,
.button[data-icon-position='right'] .button__icon {
  order: 2;
}
