@font-face {
  font-family: 'Special Gothic Expanded One';
  src:
    url('/fonts/SpecialGothicExpandedOne-Regular.woff2') format('woff2'),
    url('/fonts/SpecialGothicExpandedOne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Special Gothic Condensed One';
  src:
    url('/fonts/SpecialGothicCondensedOne-Regular.woff2') format('woff2'),
    url('/fonts/SpecialGothicCondensedOne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Mono';
  src:
    url('/fonts/DMMono-Regular.woff2') format('woff2'),
    url('/fonts/DMMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Mono';
  src:
    url('/fonts/DMMono-Light.woff2') format('woff2'),
    url('/fonts/DMMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
