@import 'tailwindcss';

:root {
}

.special-gothic-expanded-one-regular {
  font-family: 'Special Gothic Expanded One', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.special-gothic-condensed-one-regular {
  font-family: 'Special Gothic Condensed One', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
