@import 'tailwindcss';

@theme {
  /* Colors mapped to SKU's  */
  --color-100001: #f7b7c2;
  --color-100002: #ffd8a8;
  --color-100003: #fff1a8;
  --color-100004: #c9f2c7;
  --color-100005: #aee6d8;
  --color-100006: #b7e0ff;
  --color-100007: #c8c4ff;
  --color-100008: #e2c1f9;
  --color-100009: #f6c1ff;
  --color-100010: #e8d6c3;
}

@utility font-mega {
  font-family: 'Special Gothic Expanded One', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-size: 7cqi;
}

@utility font-heading {
  font-family: 'Special Gothic Condensed One', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-size: 56px;
  text-transform: uppercase;
}

@utility font-title {
  font-family: 'Special Gothic Condensed One', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-size: 32px;
  text-transform: uppercase;
}

@utility font-body {
  font-family: 'DM Mono', monospace;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-size: 18px;
}
