@import 'tailwindcss';
@import './fonts.css';

@theme {
  /* Colors mapped to SKU's  */
  --color-100001: #f7b7c2;
  --color-100002: #ffd8a8;
  --color-100003: #fff1a8;
  --color-100004: #c9f2c7;
  --color-100005: #aee6d8;
  --color-100006: #b7e0ff;
  --color-100007: #c8c4ff;
  --color-100008: #e2c1f9;
  --color-100009: #f6c1ff;
  --color-100010: #e8d6c3;

  --animate-fade-in: fadeIn 0.25s ease-in-out forwards;
  --animate-fade-out: fadeOut 0.25s ease-in-out forwards;
  --animate-bounce-in: bounceIn 0.5s ease-in-out forwards;
}

:root {
  --shell-height: calc(100dvh - 250px);
  --nav-row: 20px 1fr 20px;
}

@utility font-mega {
  font-family: 'Special Gothic Expanded One', sans-serif;
  font-size: 120px;
}

@utility font-heading {
  font-family: 'Special Gothic Condensed One', sans-serif;
  font-size: 56px;
  text-transform: uppercase;
}

@utility font-title {
  font-family: 'Special Gothic Condensed One', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

@utility font-body {
  font-family: 'DM Mono', monospace;
  font-size: 18px;
}

@utility font-small {
  font-family: 'DM Mono', monospace;
  font-size: 14px;
}

.focusable:focus-visible {
  outline: 3px solid yellow;
  outline-offset: 6px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
