.shell {
  background-color: aquamarine;
  transition: background-color ease-in-out 0.25s;
  transition-delay: 0.25s;
}

.shell[data-layout='full'] {
  background-color: pink;
}

.shell__form {
  transition:
    transform ease-in-out 0.25s,
    top ease-in-out 0.25s,
    left ease-in-out 0.25s;
}

.shell[data-layout='default'] .shell__form {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shell__results {
  animation: results 1.5s linear forwards;
}

@keyframes results {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
